@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Krona_One';
    src: url('../fonts/Krona_One/KronaOne-Regular.ttf');
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/static/Montserrat-Regular.ttf');
}
:root {
    --main-color: #FFFDD0;
    --second-color: #505050;
    --strong-color: #30D5C8;
}
body {
    box-sizing: border-box;
    background-color: var(--main-color);
    color: var(--second-color);
}
.cabecalho__nav {
    display: flex;
    gap: 5rem;
    padding: 5% 0 0 15%;
}

.cabecalho__nav__button {
    text-decoration: none;
    color: var(--strong-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 8% 15%;
    gap: 84px;
}

.container__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.container__section__h1 {
    font-size: 2.25rem;
    font-family: 'Krona_One', sans-serif;
    font-weight: 400;
}

.container__section__h2 {
    font-size: 1.75rem;
    font-family: 'Krona_One', sans-serif;
    font-weight: 200;
}

.container__section__p {
    width: 100%;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.container__section__h1__strong {
    color: var(--strong-color);
}

.container__section__div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
.container__section__div__redes {
    font-family: 'Krona_One', sans-serif;
    font-size: 1.5rem;
    width: 351px;
}

.container__section__div__button {
    background-color: var(--main-color);
    width: 23.625rem;
    text-align: center;
    border-radius: 8px;
    border: 0.125rem solid var(--strong-color);
    font-size: 1.5rem;
    padding: 1.34375rem 0;
    text-decoration: none;
    color: var(--second-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.rodape {
    color: var(--main-color);
    background-color: var(--strong-color);
    padding: 1.8rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 6%;
    }
    .cabecalho__nav {
        justify-content: left;
    }
    .container {
        flex-direction: column-reverse;
        padding: 1%;
    }
    .container__section {
        width: 100%;
    }
    .rodape {
        position: static;
        padding: 1rem 0;
    }
    body, .h-body {
        padding-bottom: 0;
    }
}